/* Scoped to .todo-box to avoid affecting other elements */
.todo-box * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .todo-box {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 30px;
    border-radius: 10px;
  }
  
  .todo-box h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .todo-box h2 img {
    width: 30px;
    margin-left: 10px;
  }
  
  .todo-box .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  
  .todo-box .row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
  }
  
  .todo-box .row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .todo-box ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  
  .todo-box ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../Assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
  }
  
  .todo-box ul li.checked {
    color: #555;
    text-decoration: line-through;
  }
  
  .todo-box ul li.checked::before {
    background-image: url(../Assets/checked.png);
  }
  
  .todo-box ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
  }
  
  .todo-box ul li span:hover {
    background: #edeef0;
  }

  .back-button {
    padding: 10px 20px;
    background-color: #3c009d;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  